# editorconfig.org
root = true

[*]
indent_style             = space
indent_size              = 2
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true


[*.cs]
indent_size = 4

# "elements must be ordered by access"
# justification: this rule results in utility methods being far from where they are used.
dotnet_diagnostic.SA1202.severity = silent

# "Provide a method named xxx as a friendly alternate for operator op_xxx"
# This may be added back in the futute
dotnet_diagnostic.CA2225.severity = silent

# partial elements should be documented.
dotnet_diagnostic.SA1601.severity = silent
